.Declaration {
  margin: 0 auto;
}

/* .Declaration .row {
    margin-bottom: 2px;
} */

.Declaration h1 {
  background-color: #337ab7;
  color: #ffffff;
  border-radius: 3px;
  text-align: center;
}

.ButtonGroup {
  text-align: right;
}

.ButtonGroup button {
  margin: 10px;
}

.Declaration select.form-control {
    height: 34px !important;
}

.money {
    text-align: right;
}

.message-alert {
  color: green;
  text-align: center;
}

.form-group {
  margin-bottom: 5px !important;
}

.dismiss-alert {
  float: right;
  cursor: pointer;
}
