.Declaration {
    margin: 0 auto;
  }
  
  /* .Declaration .row {
      margin-bottom: 2px;
  } */
  
  .Declaration h3 {
    background-color: #337ab7;
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
    font-size: 24px;
  }
  
  .ButtonGroup {
    text-align: right;
  }
  
  .ButtonGroup button {
    margin: 10px;
  }
  
  /* .Declaration select.form-control {
      height: 34px !important;
  } */
  
  .money {
      text-align: right;
  }
  
  .message-alert {
    color: green;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 3px !important;
  }
  
  .dismiss-alert {
    float: right;
    cursor: pointer;
  }

  .form-control:disabled {
    background-color: #8b98a5 !important;
  }
  
  body {
  line-height: 1 !important;
}

.app-header {
  height: 30px !important;
}

.app-body {
  margin-top: 30px !important;
}

.sidebar {
  height: calc(100vh - 30px) !important;
}

.form-control {
  padding: 2px !important;
  height: 27px;
}

select.form-control:not([size]):not([multiple]) {
  height: 27px !important;
}

.ButtonGroup button {
  margin: 3px !important;
} 
